asgiref==3.7.2
beautifulsoup4==4.12.2
botocore==1.31.70
certifi==2023.7.22
channels==4.0.0
Django==4.2.5
django-cors-headers==4.3.0
djangorestframework==3.14.0
gunicorn==21.2.0
httpcore==0.18.0
httpx==0.25.0
Jinja2==3.1.2
livereload==2.6.3
lxml==4.9.3
Markdown2==2.4.10
numpy==1.26.0
Pillow==10.0.1
psycopg2==2.9.9
PyJWT==2.8.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
whitenoise==6.0.0
python-decouple==3.8