anyio==4.0.0
asgiref==3.7.2
atom==0.10.0
awsebcli==3.20.10
beautifulsoup4==4.12.2
botocore==1.31.70
bs4==0.0.1
cement==2.8.2
certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.3
Django==4.2.5
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.8
django-extra-keywords==1.1.2
django-session-timeout==0.1.0
greenlet==3.0.0
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
idna==3.4
jmespath==1.0.1
lxml==4.9.3
numpy==1.26.0
pandas==2.1.1
pathspec==0.10.1
php==1.2.1
Pillow==10.0.1
playwright==1.39.0
pyee==11.0.1
pypiwin32==223
python-dateutil==2.8.2
python-decouple==3.8
python-telegram-bot==20.6
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
requests==2.31.0
selectolax==0.3.17
semantic-version==2.8.5
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
termcolor==1.1.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.18
wcwidth==0.1.9
