<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top desktop-version">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2023 Lbal Shop </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">lbalshop641@gmail.com</span>
				<span  class="px-2">+212 617-374296</span>
				<span  class="px-2">Morocco, Casablanca</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top mobile-version">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-4 col-12 text-center text-md-left">
				<p class="text-muted"> &copy; 2023 Lbal Shop </p>
			</div>
			<div class="col-md-4 col-12 text-center">
				<span class="px-2">lbalshop641@gmail.com</span>
				<span class="px-2">+212 617-374296</span>
				<span class="px-2">Morocco, Casablanca</span>
			</div>
			<div class="col-md-4 col-12 text-center text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


<style>
	@media (min-width: 768px) {
    .desktop-version {
        display: block;
    }
    .mobile-version {
        display: none;
    }
    }

    @media (max-width: 767px) {
        .desktop-version {
            display: none;
        }
        .mobile-version {
            display: block;
        }
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		}) 
	})
</script>

</body>
</html>