{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
     <h4 class="text-center text-success mb-5" style="margin-top: 100px">Your order has been successfully placed. Thank you for choosing Lbal Shop. You can track the status of your order by clicking the button below.</h4>
     <a href="/accounts/my_orders/" class="btn btn-primary justify-content-center" style="margin-bottom: 230px">Track you Order</a>
 </div>
</div>


{% endblock  %}